.pokemon {
    background-color: rgb(215, 221, 226);
    width: 200px;
    padding: 20px;
    margin:20px;
    border-radius: 5px;
    
}

h4 {
    color:blue;
}
img{
    width:100px;
    transition: all ease 500ms;
}
img:hover {
    transform: scale(1.25);
    opacity:0.7;
}